@model Pagamento.Models.Pais

@{
    ViewData["Title"] = "Excluir País";
}

<h2>Excluir País</h2>

<h5 class="text-danger">Tem certeza que deseja excluir este país?</h5>

<form asp-action="Excluir" method="post">
    <input type="hidden" asp-for="IdPais" />
    <div class="d-flex justify-content-end mt-3">
        <div class="d-flex justify-content-end mt-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="@Model.Status" disabled />
                <label class="form-check-label">Ativo</label>
            </div>
        </div>

    </div>
    <div class="mb-3">
        <label class="form-label">Nome do País</label>
        <input class="form-control" value="@Model.NomePais" disabled />
    </div>

    <div class="mb-3">
        <label class="form-label">Data de Criação</label>
        <input type="text" class="form-control" value="@Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")" disabled />
    </div>

    <div class="mb-3">
        <label class="form-label">Última Edição</label>
        <input type="text" class="form-control" value="@(Model.DataEdicao?.ToString("dd/MM/yyyy HH:mm") ?? "Nunca editado")" disabled />
    </div>

    <div class="text-end mt-3">
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="@Url.Action("Index", "Pais")" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
