@{
    ViewData["Title"] = "Condições de Pagamento";
}

@model List<Pagamento.Models.CondicaoPagamento>

<div class="text-center">
    <h1 class="display-4">Condições de Pagamento</h1>

    <div class="d-flex justify-content-start mb-3">
        <a asp-controller="CondicaoPagamento" asp-action="Criar" class="btn btn-primary">Criar</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Juro</th>
                <th>Multa</th>
                <th>Desconto</th>
                <th>Quantidade Parcelas</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdCondPgto</td>
                    <td>@item.Descricao</td>
                    <td>@item.Juros</td>
                    <td>@item.Multa</td>
                    <td>@item.Desconto</td>
                    <td>@item.QuantidadeParcelas</td>
                    <td>
                        @if (item.Status)
                        {
                            <span class="badge bg-success">Ativo</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Desativado</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@item.IdCondPgto">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-action="Excluir" asp-route-id="@item.IdCondPgto">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
